<!DOCTYPE html>
<html>
  <head>
    <title><%= item.key %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Detail for your beverage</h1>
    <h1><%= item.key %></h1>
    <p><%= item.description %></p>

    <h2><%= product.name %></h2>
    <p>Price: $<%= product.price %></p>
    <p>Calories: <%= product.calorie %>kcal</p>
    
    <a href="/"class="backToHome"> back to Home</a>
    
  </body>
</html>
